.typePage {
    width: 3% !important;
    justify-content: center;
}

.typePage:hover {
    background-color: rgb(217, 217, 217, 0.2);
}

.dropbtn  {
    margin-left: 2%;
}


.dropdown-content {
    margin-left: 2%;
}