main {
    display: flex;
    align-items: center;
    gap: 10%;
}

/* Left part */

.welcome-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
}

.welcome-side h1 {
    padding: 0;
    font-size: 5em;
    margin-left: 5%;
}

.welcome-side p {
    font-size: 1.2em;
    margin-left: 7.5%;
}

.social-media {
    margin-top: 32.5%;
    margin-left: 5%;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
    transition: .5s;
}

.social-media a:hover {
    background: #ffffff;
}

.social-media a i {
    font-size: 20px;
    color: #ffffff;
}

.social-media a:hover i {
    color: var(--black);
}


/* Right part */

.connexion-side {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connexion-side a {
    color: #A0A0A0;
    text-decoration: none;
}

#signupForm {
    color: white;
}

#signupForm h1 {
    text-align: center;
    font-size: 3em;
}

#signupForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--grey);
    border-radius: 5px;
    background: var(--bg);
    background-color: rgb(217, 217, 217, 0.05);
    color: white;
}

#signupForm input::placeholder {
    color: var(--grey);
}

#signupForm button {
    align-items: center;
    width: 40%;
    padding: 10px;
    margin: auto;
    border: none;
    border-radius: 5px;
    background: var(--blue);
    color: white;
    cursor: pointer;
    display: block;
}

#signupForm button:hover {
    background: var(--bg);
    outline: 1px solid var(--blue);
}

h4 {
    font-size: 0.75em;
    color: var(--grey);
    margin-top: 20px;
    text-align: center;
    margin: 10% auto auto auto;
    width: 70%;
}

#signupForm p {
    color: var(--grey);
    margin-top: 20px;
    text-align: center;
}

#signupForm p a {
    color: var(--blue);
    text-decoration: underline;
}

.input-box-login {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.social-media-phone{
    display: none;
}

@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 3%;
        gap: 5rem;
    }
    .welcome-side{
        display: none;
    }

    .connexion-side {
        width: 97%;
    }

    .social-media-phone{
        margin-top: 10%;
        display: flex;
    }
    
    .social-media-phone a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #ffffff;
        border-radius: 6px;
        text-decoration: none;
        margin-right: 10px;
        transition: .5s;
    }
    
    .social-media-phone a:hover {
        background: #ffffff;
    }
    
    .social-media-phone a i {
        font-size: 20px;
        color: #ffffff;
    }
    
    .social-media-phone a:hover i {
        color: var(--black);
    }

}