:root {
    --header: rgb(37, 39, 77);
    --bg: rgb(37, 39, 77, 0.85);
    --grey: #A0A0A0;
    --light-grey: rgb(234, 234, 234);
    --blue: #2E9CCA;
    --black: #17252A;
    --white: #E4E3E3;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../IMG/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.color-back {
    background-color: var(--bg);
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
}

