<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/style/popup.css">
    <link rel="stylesheet" type="text/css" href="/static/style/about.css">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    <link rel="icon" type="image/jpg" href="/static/IMG/favicon.png">
    <title>About</title>
</head>
<body>
    <div class="color-back">
        <header>
            <div class="social-media">
                <a href="/"><i class='bx bxs-home-alt-2'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="https://github.com/EdgarCou/forum"><i class='bx bxl-github'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            </div>
            <div class="name">
                <ul>
                    <li>Lechat Noé</li>
                    <li>Baudet Arthur</li>
                    <li>Couthouis Edgar</li>
                </ul>
            </div>
        </header>
        <main>
            <section class="banner">
                <div class="slider">
                    <div class="slide">
                        <img src="../static/IMG/bg.jpg" alt="">
                        <div class="left-info">
                            <div class="penetrate-blur">
                                <h1>Diş</h1>
                            </div>
                            <div class="content">
                                <div class="social-media-phone">
                                    <a href="/"><i class='bx bxs-home-alt-2'></i></a>
                                    <a href="#"><i class='bx bxl-twitter'></i></a>
                                    <a href="#"><i class='bx bxl-facebook'></i></a>
                                    <a href="https://github.com/EdgarCou/forum"><i class='bx bxl-github'></i></a>
                                    <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                                </div>
                                <a href="#" onclick="toggleInfo()" class="btn">More Details</a>
                            </div> 
                        </div>
                        <div class="right-info">
                            <h1>ki</h1>
                            <h3>Forum</h3>
                        </div>
                    </div>
                </div>
            </section>
            <div id="info">
                <h1>Forum</h1>
                <ul>
                    <li>This site is a forum where users can discuss a range of subjects
                    </li>
                    <br>
                    <li>It is a project developed by students of the YNOV Nantes campus.
                    </li>
                    <br>
                    <li>You can make posts. Like, dislike, and comment on other users' posts. 
                    </li>
                    <br>
                    <li>You can use different filters to organise your posts 
                    </li>
                    <br>
                    <li>You can create your own account to keep your information 
                    </li>
                    <br>
                    <li>If your want to see our code, you can find it on the github icon a the top left of the page.
                    </li>
                </ul>
                <a href="javascript:void(0)" onclick="toggleInfo()" class="popup-exit">
                    <i class="material-icons">
                        close
                    </i>
                </a>
                <script src="/static/JS/index.js"></script>
            </div>
        </main>
    </div>
</body>
</html>