<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/style/signup.css">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    <link rel="icon" type="image/jpg" href="/static/IMG/favicon.png">
    <title>Forum</title>
</head>
<body>
    <section class="color-back">
        <main>
            <section class="welcome-side">
                <h1>Welcome<br> Back !</h1>
                <p>Join our community and share your passions:<br> go to your account now and connect with like-minded individuals!</p>
                <div class="social-media">
                    <a href="/"><i class='bx bxs-home-alt-2'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="https://github.com/EdgarCou/forum"><i class='bx bxl-github'></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                </div>
            </section>
            <section class="connexion-side">
                <form id ="signupForm" method="POST">
                    <h1>Log in</h1>
                    <p class="text-signup">If you don’t have an account click&nbsp;<a href="/signup">Here</a></p>
                    <div class="input-box-login">
                        <label for="username">Username</label>
                        <input id="username" type="text" name ="username"  required>
                    </div>
                    <div class="input-box-login">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" required>
                    </div>
                    <div class ="signupStatus" id ="signupStatus" style="color:red"></div>
                    <button type="submit">Log in now</button>
                    <h4 class="link-signup">By clicking on “Log in now” you agree to <a href="/RGPD">Terms of service | Privacy policy </a></h4>
                </form>
            </section>
            <div class="social-media-phone">
                <a href="/"><i class='bx bxs-home-alt-2'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="https://github.com/EdgarCou/forum"><i class='bx bxl-github'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            </div>
        </main>
    </section>
</body>
</html>