<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style/popup.css">
    <link rel="stylesheet" type="text/css" href="/static/style/header.css">
    <link rel="stylesheet" type="text/css" href="/static/style/members.css">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    <link rel="icon" type="image/jpg" href="/static/IMG/favicon.png">
    <title>Forum</title>
</head>
<body>
    <div class="color-back">
        <header>
            <div class="nav">
                <button class="burger" onclick="show()">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                </button>
                <section class="nav-burger">
                    <ul>
                        <li class="home-link"><a href="/">Home</a></li>
                        <li class="forum-link"><a href="/forum">Forum</a></li>
                        {{if .UserInfo.IsLoggedIn}}
                            <li class="members-link"><a href="/members">Members</a></li>
                        {{else}}
                            <li class="members-link"><a href="/login">Members</a></li>
                        {{end}}
                        <li class="about-link"><a href="/about">About</a></li>
                    </ul>
                </section>
            </div>
            <div class="nav-bar">
                <section class="logo">
                    <a href="/"> 
                        <img src="/static/IMG/diski.png" alt="logo">
                    </a>
                </section>
                <nav> 
                    <ul>
                        <li class="home-link"><a href="/">Home</a></li>
                        <li class="forum-link"><a href="/forum">Forum</a></li>
                        {{if .UserInfo.IsLoggedIn}}
                            <li class="members-link"><a href="/members">Members</a></li>
                        {{else}}
                            <li class="members-link"><a href="/login">Members</a></li>
                        {{end}}
                        <li class="about-link"><a href="/about">About</a></li>
                    </ul>
                </nav>
            </div>
            <div class="log-bar">
                <section class="user-bar">
                    {{if .UserInfo.Username}}
                        <span class="pseudo">{{.UserInfo.Username}}</span>
                        <div class="ProfilePicture">
                            {{if .UserInfo.ProfilePicture}}
                                <img src="{{.UserInfo.ProfilePicture}}" alt="alternative texte" style="height: 50px;width: 50px;">
                            {{else}}
                                <i class="material-icons" style="font-size:50px;">account_circle</i>
                            {{end}}
                        </div>
                    {{end}} 
                </section>
                <section class="button-connection">
                    {{if .UserInfo.IsLoggedIn}}
                        <a href="/logout" class="log-button">Log out</a>
                    {{else}}
                        <a href="/login" class="log-button">Log in</a>
                    {{end}}
                </section>
            </div>
        </header>
        <main>
            <section class="allMembers">
                {{if .UserInfo.IsLoggedIn}}
                    {{range .Members}}
                        <div class="member">
                            <h3>{{.Username}}</h3>
                            <div class="ProfilePicture">
                                {{if .ProfilePicture}}
                                        <img src="{{.ProfilePicture}}" alt="alternative texte" style="height: 50px;width: 50px;border-radius: 50%;">
                                {{else}}
                                        <i class="material-icons" style="font-size:2rem;">account_circle</i>
                                {{end}}
                            </div>
                        </div>  
                    {{end}}
                {{else}}
                    <p>No members found</p>
                {{end}}
            </section>       
        </main>
    </div>
    <script src="/static/JS/index.js"></script>
    <script src="/static/JS/burger.js"></script>
</body>
</html>