<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style/popup.css">
    <link rel="stylesheet" type="text/css" href="/static/style/header.css">
    <link rel="stylesheet" type="text/css" href="/static/style/forum.css">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style/myPost.css">
    <link rel="icon" type="image/jpg" href="/static/IMG/favicon.png">
    <title>Forum</title>
</head>
<body>
    <div class="color-back">
        <header>
            <div class="nav">
                <button class="burger" onclick="show()">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                </button>
                <section class="nav-burger">
                    <ul>
                        <li class="home-link"><a href="/">Home</a></li>
                        <li class="forum-link"><a href="/forum">Forum</a></li>
                        {{if .UserInfo.IsLoggedIn}}
                            <li class="members-link"><a href="/members">Members</a></li>
                        {{else}}
                            <li class="members-link"><a href="/login">Members</a></li>
                        {{end}}
                        <li class="about-link"><a href="/about">About</a></li>
                    </ul>
                </section>
            </div>
            <div class="nav-bar">
                <section class="logo">
                    <a href="/"> 
                        <img src="/static/IMG/diski.png" alt="logo">
                    </a>
                </section>
                <nav> 
                    <ul>
                        <li class="home-link"><a href="/">Home</a></li>
                        <li class="forum-link"><a href="/forum">Forum</a></li>
                        {{if .UserInfo.IsLoggedIn}}
                            <li class="members-link"><a href="/members">Members</a></li>
                        {{else}}
                            <li class="members-link"><a href="/login">Members</a></li>
                        {{end}}
                        <li class="about-link"><a href="/about">About</a></li>
                    </ul>
                </nav>
            </div>
            <div class="log-bar">
                <section class="user-bar">
                    {{if .UserInfo.Username}}
                        <span class="pseudo">{{.UserInfo.Username}}</span>
                        <div class="ProfilePicture">
                            {{if .UserInfo.ProfilePicture}}
                                <a href="/user?username={{.UserInfo.Username}}">
                                    <img src="{{.UserInfo.ProfilePicture}}" alt="alternative texte" style="height: 50px;width: 50px;border-radius: 50%;">
                                </a>
                            {{else}}
                                <a href="/user?username={{.UserInfo.Username}}">
                                    <i class="material-icons" style="font-size:2rem;">account_circle</i>
                                </a>
                            {{end}}
                        </div>
                    {{end}} 
                </section>
                <section class="button-connection">
                    {{if .UserInfo.IsLoggedIn}}
                        <a href="/logout" class="log-button">Log out</a>
                    {{else}}
                        <a href="/login" class="log-button">Log in</a>
                    {{end}}
                </section>
            </div>
        </header>
        <main>
            <div class="typePage">
                <a href="/allTopics" >Topics</a>
                <a href="/forum" >All posts</a>
                <a href="/myPosts" class="typePage-OnPage">My posts</a>
                <a href="/liked">Liked posts</a>
            </div>
            <div class="main-part-Topic-zone">
                <div class="Home-topics">
                    <h1>MY POSTS</h1>
                </div>
            </div>
            <div class="dropdown forum-dropdown">
                <button onclick="myDropdownFunc(this)" class="dropbtn">Sort by: ▼</button>
                <form action="/sortMyPost">
                    <label for="sort">
                        <div id="myDropdown" class="dropdown-content">
                            <ul>
                                <li><button type="submit" name="sort" value="oldest">Oldest post</button></li>
                                <li><button type="submit" name="sort" value="newest">Newest post</button></li>
                                <li><button type="submit" name="sort" value="mostLiked">Most liked</button></li>
                                <li><button type="submit" name="sort" value="mostDisliked">Most disliked</button></li>
                                <li><button type="submit" name="sort" value="A-Z">A-Z</button></li>
                                <li><button type="submit" name="sort" value="Z-A">Z-A</button></li>
                            </ul>
                        </div>
                    </label>
                </form>
            </div>  
            <section class="actu">
                {{$UserInfo := .UserInfo}}
                {{$Comments := .Comments}}
                {{$Topics := .Topics}}
                {{$Posts := .Posts}}
                {{range .Posts}}
                    {{ $CurrentPost := . }}
                    {{ $currentPostId := .Id }}
                    {{if eq .Id -1}}
                         <p>No post Yet</p>
                    {{else}}
                        {{if eq .Author $UserInfo.Username}}
                            <article class="post{{.Id}}">
                                <div class="article-post,">
                                    <div class="top-post">
                                        <div class="profile-picture">
                                        {{if $UserInfo.ProfilePicture}}
                                            <img src="{{$UserInfo.ProfilePicture}}" alt="alternative texte" style="height: 50px;width: 50px;border-radius: 50%;">
                                        {{else}}
                                            <i class="material-icons" style="font-size:50px;">account_circle</i>
                                        {{end}}
                                        <p class="author">{{.Author}}</p>
                                        </div>
                                        <div class="like-com-zone">
                                            <div class="liked-zone">
                                                {{if $UserInfo.IsLoggedIn}}
                                                    <button class="likeButton forum-btn" data-post-id="{{.Id}}" ><i class="like-thumb material-icons" >
                                                        thumb_up
                                                    </i></button>
                                                {{else}}
                                                    <button class="likeButton forum-btn" data-post-id="{{.Id}}" disabled><i class="like-thumb
                                                        material-icons">
                                                        thumb_up
                                                    </i></button>
                                                {{end}}
                                                <p id="likeCount{{.Id}}">{{.Likes}}</p>
                                            </div>
                                            <div class="disliked-zone">
                                                {{if $UserInfo.IsLoggedIn}}
                                                    <button class="dislikeButton forum-btn" data-post-id="{{.Id}}"><i class="dislike-thumb material-icons">
                                                        thumb_down
                                                    </i></button>
                                                {{else}}
                                                    <button class="dislikeButton forum-btn" data-post-id="{{.Id}}" disabled><i class="dislike-thumb
                                                        material-icons">
                                                        thumb_down
                                                    </i></button>
                                                {{end}}
                                                <p id="dislikeCount{{.Id}}">{{.Dislikes}}</p>
                                                <button class="commentButton forum-btn" data-post-id="/" disabled><i class="material-icons">
                                                    chat
                                                </i></button>
                                                <p id="commentCount">{{.Comments}}</p>
                                                <div class="dropdown-edit">
                                                    <button onclick="myDropdownFuncEdit(this)" class="dropbtn-edit"><i class="material-icons">
                                                        more_horiz
                                                    </i></button>
                                                    <div id="myDropdown-edit" class="dropdown-content-edit">
                                                        <ul>
                                                            <li><button class="forum-btn" data-post-id="{{.Id}}" onclick="deletePopUp(this)">DELETE</button></li>
                                                            <li><button class="forum-btn" data-post-id="{{.Id}}" onclick="editPopUp(this)">EDIT</button></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="title-zone-post">
                                    <h2>{{.Title}}</h2>
                                    <p class="topics">Topic: {{.Topics}}</p>
                                </div>
                                <p class="post-content">{{.Content}}</p>
                                <p class="date">{{.Date}}</p>
                                <div class="bot-post">
                                    {{if $UserInfo.IsLoggedIn}}
                                        <button class="forum-btn btnForComment" id="commentButton{{$currentPostId}}" data-post-id="{{$currentPostId}}" disabled><i class="material-icons">
                                            chat
                                        </i></button>
                                    {{else}}
                                        <button class="forum-btn btnForComment" id="commentButton{{$currentPostId}}" data-post-id="{{$currentPostId}}" disabled><i class="material-icons">
                                            chat
                                        </i></button>
                                    {{end}}
                                    <button class="show-comment-btn" id="displayComments{{$currentPostId}}" data-post-id="{{$currentPostId}}" onclick="displayComments(this)">▼</button>
                                    {{if eq .Comments 0}}
                                        <p class="noCommentInfo">No comments yet</p>
                                    {{end}}
                                </div>
                                <section class="commentArea" id="comments{{$currentPostId}}">
                                    {{range $Comments}}
                                        {{if eq .Idpost $currentPostId}}
                                            <div class="comment">
                                                <h3>{{.Author}}</h3>
                                                <p>{{.Content}}</p>
                                            </div>
                                        {{end}}
                                    {{end}}
                                </section> 
                                <section class="edit-delete-selection" id="delete{{.Id}}">
                                    <div id="delete-section">
                                        <div class="deletePopUp" id="delete{{.Id}}">
                                            <a href="javascript:void(0)" data-post-id="{{.Id}}" onclick="togglePopup4(this)" class="popup-exit-edit">
                                                <i class="material-icons">
                                                    close
                                                </i>
                                            </a>
                                            <p>Are you sure you want to delete this post?</p>
                                            <button><a href="/delete?postid={{.Id}}&topics={{.Topics}}">Yes</a></button>
                                            <button onclick="removeDelete(this)" data-post-id="{{.Id}}"><a href="/myPosts">No</a></button>
                                        </div>
                                        
                                    </div>
                                </section>
                                <section class="edit-delete-selection" id="edit{{.Id}}">
                                    <div id="edit-section">
                                        <a href="javascript:void(0)" data-post-id="{{.Id}}" onclick="togglePopup5(this)" class="popup-exit-delete">
                                            <i class="material-icons">
                                                close
                                            </i>
                                        </a>
                                        <form action="/editPost?postid={{.Id}}" id="editPost" method="POST">
                                            <h1>Edit your post</h1>
                                            <div class="part-one-post">
                                                <div class="title-post">
                                                    <label for="title">Title</label>
                                                    <input type="text" id="title" name="title" value="{{.Title}}" required >
                                                </div>
                                                <br>
                                                <div class="tag-zone-post">
                                                    <label for="topics">Topic(s)</label>
                                                    <select id="topics" name="topics" required>
                                                        {{range $Topics}}
                                                            {{if eq .Title $CurrentPost.Topics}}
                                                                <option value="{{.Title}}" selected>{{.Title}}</option>
                                                            {{else}}
                                                                <option value="{{.Title}}">{{.Title}}</option>
                                                            {{end}}
                                                        {{end}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="second-part-post">
                                                <label for="content">Content</label>
                                                <textarea id="content" name="content" required>{{.Content}}</textarea>
                                            </div>
                                            <div class="third-part-post">          
                                                <div class="acceptCondtions">
                                                    <label class="checkbox-popup"><input type="checkbox" required>I agree with <a href="/RGPD"> using condtions</a></label>
                                                </div>
                                                <button type="submit" class="btn-login"> Edit </button>
                                            </div>
                                      
                                        </form>
                                    </div>
                                </section>
                            </article>
                            <br>
                        {{end}}
                    {{end}}
                {{end}}
            </section>
        </main> 
        <footer>
            <div class="typePage-phone">
                <a href="/allTopics" >Topics</a>
                <a href="/forum" >All posts</a>
                {{if .UserInfo.IsLoggedIn}}
                    <a href="/myPosts" class="typePage-OnPage">My posts</a>
                    <a href="/liked" >Liked posts</a>
                {{else}}
                    <a href="/login">My posts</a>
                    <a href="/login">Liked posts</a>
                {{end}}
            </div>
        </footer>
    </div>
        <script src="/static/JS/index.js"></script>
        <script src="/static/JS/burger.js"></script>
</body>
</html>