<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style/header.css">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style/RGPD.css">
    <link rel="stylesheet" type="text/css" href="/static/style/forum.css">
    <link rel="icon" type="image/jpg" href="/static/IMG/favicon.png">
    <title>RGPD</title>
</head>
<body>
    <section class="color-back">
        <header>
            <div class="nav-bar">
                <section class="logo">
                    <a href="/"> 
                        <img src="/static/IMG/diski.png" alt="logo">
                    </a>
                </section>
                <nav> 
                    <ul>
                        <li class="home-link"><a href="/">Home</a></li>
                        <li class="forum-link"><a href="/forum">Forum</a></li>
                        {{if .UserInfo.IsLoggedIn}}
                            <li class="members-link"><a href="/members">Members</a></li>
                        {{else}}
                            <li class="members-link"><a href="/login">Members</a></li>
                        {{end}}
                        <li class="about-link"><a href="/about">About</a></li>
                    </ul>
                </nav>
            </div>
            <div class="log-bar">
                <section class="user-bar">
                    {{if .UserInfo.Username}}
                        <span class="pseudo">{{.UserInfo.Username}}</span>
                        <a href="/user?username={{.UserInfo.Username}}" class="account-link"><i class="material-icons">
                            account_circle
                        </i></a>
                    {{end}} 
                </section>
                <section class="button-connection">
                    {{if .UserInfo.IsLoggedIn}}
                        <a href="/logout" class="log-button">Log out</a>
                    {{else}}
                        <a href="/login" class="log-button">Login</a>
                        <a href="/signup" class="log-button">Sign Up</a>
                    {{end}}
                </section>
            </div>
        </header>
        <main>
            <h1> Politique de Confidentialité et Conformité RGPD </h1>
            <h2> Introduction </h2> 
            <p> Nous attachons une grande importance à la protection de vos données personnelles et à votre vie privée. En utilisant notre forum en ligne, vous nous confiez certaines informations personnelles. Nous tenons à vous informer de la manière dont nous collectons, utilisons et protégeons ces données conformément au Règlement Général sur la Protection des Données (RGPD). </p>
            <h2> Données Collectées </h2>
            <p> Pour le bon fonctionnement de notre site, nous collectons les données suivantes : <br>
                <ul> 
                    <li> Adresse e-mail : pour vous identifier de manière unique et vous permettre de recevoir des notifications importantes concernant votre compte et les activités sur le forum.</li> <br>
                    <li> Prénom et nom de famille : pour personnaliser votre expérience utilisateur et faciliter les interactions entre membres du forum.</li> <br>
                    <li> Date de naissance : pour vérifier que vous respectez l'âge minimum requis pour utiliser notre service, conformément aux lois applicables.</li> <br>
                </ul>
            </p>
            <h2> Publication de Posts et Règles de Conduite </h2>
            <p> En publiant sur notre forum, vous acceptez de respecter les règles suivantes : <br>
                <ul> 
                    <li> Respect des autres : Aucun propos injurieux, diffamatoire, haineux ou discriminatoire ne sera toléré.</li> <br>
                    <li> Contenus appropriés : Les publications doivent être appropriées pour tous les âges et respecter les lois en vigueur.</li> <br>
                    <li> Confidentialité : Ne partagez pas d'informations personnelles (votre adresse, numéro de téléphone, etc.) ni celles d'autrui sans consentement.</li> <br>
                    <li> Propriété intellectuelle : Ne publiez pas de contenu protégé par des droits d'auteur sans autorisation.</li> <br>
                    <li> Spam et publicité : Évitez de poster du spam ou des publicités non sollicitées.</li> <br>
                </ul>
            </p>
            <h2> Utilisation des Données </h2>
            <p> Les données collectées sont utilisées aux fins suivantes :
                <ul> 
                    <li> Création et gestion de votre compte utilisateur : votre adresse e-mail, prénom et nom de famille sont nécessaires pour créer et gérer votre compte. </li> <br>
                    <li> Communication : nous utilisons votre adresse e-mail pour vous envoyer des informations importantes sur les mises à jour du forum, des notifications, et des messages administratifs.</li> <br>
                    <li> Personnalisation : vos prénom et nom de famille permettent de personnaliser vos interactions sur le forum et de créer une communauté plus conviviale.</li> <br>
                    <li> Sécurité et conformité légale : votre date de naissance est utilisée pour vérifier votre âge et garantir la conformité avec les lois en vigueur.</li> <br>
                </ul>
            <p> Nous nous engageons à protéger vos données personnelles en mettant en place des mesures de sécurité appropriées pour prévenir la perte, l'utilisation abusive, l'accès non autorisé, la divulgation ou la modification de vos informations. </p>
            <h2> Partage des Données </h2>
            <p> Nous ne partageons vos données personnelles avec aucun tiers sans votre consentement, sauf si la loi l'exige ou pour des raisons de sécurité du site. </p>
            <h2> Vos Droits </h2>
            <p> En vertu du RGPD, vous disposez des droits suivants concernant vos données personnelles :
                <ul> 
                    <li>Droit d'accès : vous pouvez demander une copie des données personnelles que nous détenons à votre sujet. <br>
                    <li>Droit de rectification : vous pouvez demander la correction des données inexactes ou incomplètes. <br>
                    <li>Droit à l'effacement : vous pouvez demander la suppression de vos données personnelles, sous réserve de certaines conditions. <br>
                    <li>Droit à la limitation du traitement : vous pouvez demander la limitation du traitement de vos données personnelles dans certains cas. <br>
                    <li>Droit d'opposition : vous pouvez vous opposer au traitement de vos données personnelles dans certains cas. <br>
                    <li> Droit à la portabilité des données : vous pouvez demander à recevoir vos données personnelles dans un format structuré, couramment utilisé et lisible par machine.  <br>
                    Contact
                </ul>
                Pour toute question ou demande concernant la protection de vos données personnelles, vous pouvez nous contacter à l'adresse suivante : DiskiForum@gmail.com.
            </p>
            <h2> Mises à jour de cette politique </h2>
                <p> Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page et, si nécessaire, vous sera notifiée par e-mail.</p>
            <h2> Conclusion </h2>
            <p>Nous vous remercions de votre confiance et nous engageons à respecter et protéger vos données personnelles conformément aux lois en vigueur.</p>
        </main>
    </section>
</body>
</html>